# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

# https://www.prisma.io/docs/orm/reference/connection-urls#postgresql
DATABASE_URL="postgresql://root:password@localhost:5432/en_learning"
SECRET_KEY="YOUR_SECRET_KEY"

#minio access秘钥
MINIO_ACCESS_KEY="xxx"
#minio secret秘钥
MINIO_SECRET_KEY="xxx"
#minio 地址
MINIO_ENDPOINT="xxx"
#minio 端口
MINIO_PORT=9000
#minio 是否使用SSL（是否是 https）
MINIO_USE_SSL=0
#minio 桶名
MINIO_BUCKET="avatar"