# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

# https://www.prisma.io/docs/orm/reference/connection-urls#postgresql
DATABASE_URL="postgresql://root:password@localhost:5432/en_learning"
SECRET_KEY="YOUR_SECRET_KEY"
#minio access秘钥
MINIO_ACCESS_KEY="xxx"
#minio secret秘钥
MINIO_SECRET_KEY="xxx"
#minio 地址
MINIO_ENDPOINT="xxx"
#minio 端口
MINIO_PORT=9000
#minio 是否使用SSL（是否是 https）
MINIO_USE_SSL=0
#minio 桶名
MINIO_BUCKET="avatar"
#deepseek api key
DEEPSEEK_API_KEY="sk-xxxxxxxxxxxxxxxxxxxxxx"
#deepseek api model(https://api-docs.deepseek.com/zh-cn/quick_start/pricing)
DEEPSEEK_API_MODEL="deepseek-chat"
#AI存储历史记录连接数据库
AI_DATABASE_URL="postgresql://root:password@localhost:5432/en_learning_langchain"
#支付宝appId
ALIPAY_APP_ID="XXXXXXXXX"
#支付宝沙箱网关地址（线上环境不使用沙箱，记得替换为线上地址）
ALIPAY_GATEWAY="https://openapi-sandbox.dl.alipaydev.com/gateway.do"
#支付宝公钥
ALIPAY_PUBLIC_KEY="XXXXXX"
#支付宝应用私钥
ALIPAY_PRIVATE_KEY="XXXXXXX"
#支付宝异步回调地址（通过内网穿透到本地server服务）
ALIPAY_NOTIFY_URL="xxxx"
#邮件服务地址（https://wx.mail.qq.com/list/readtemplate?name=app_intro.html#/agreement/authorizationCode）
EMAIL_HOST="smtp.qq.com"
#邮件服务端口(https://nodemailer.com/#create-a-transporter)
EMAIL_PORT=465
#邮件服务用户名
EMAIL_USER="你的qq号@qq.com"
#邮件服务密码
EMAIL_PASSWORD="XXXXXXX"
#邮件服务发件人
EMAIL_FROM="你的qq号@qq.com"
#邮件服务是否使用SSL
EMAIL_USE_SSL=1
#Redis连接地址
REDIS_HOST="localhost"
#Redis端口
REDIS_PORT=6379